boto3==1.43.18
deepagents==0.5.3
fastapi==0.136.1
kafka-python==2.3.1
langchain-core==1.3.1
langchain-openai==1.2.0
langgraph-checkpoint==4.0.2
pandas==3.0.2
requests==2.33.1
uvicorn==0.46.0
openpyxl==3.1.2
langchain-huggingface
python-dotenv
PyMySQL
SQLAlchemy
elasticsearch
langgraph
